{% extends "base.html" %}

{% block content %}
<h2>Upcoming Interviews</h2>
<div class="interview-list">
{% for interview in upcoming_interviews %}
    <div class="interview-item">
        <a href="{% url 'interview_organizer:interview' interview.id %}"><strong>{{ interview.headline }}</strong></a>
        <a class="edit-link" href="{% url 'interview_organizer:edit_interview' interview.id %}">Edit</a>
        <a class="delete-link" href="{% url 'interview_organizer:delete_interview' interview.id %}" onclick="return confirm('Are you sure you want to delete this interview?')">Delete</a><br>
        Date and Time: {{ interview.datetime|date:"d F Y, H:i" }}<br>
        Place: {{ interview.place }}<br>
        Interviewee(s): {{ interview.interviewees.all|join:", " }}<br>
        Contact Person(s): {{ interview.contact_persons.all|join:", " }}<br>
    </div>
{% empty %}
    <p>No upcoming interviews.</p>
{% endfor %}
</div>
{% endblock %}
